.header {
	display: flex;
	flex-direction: row;
	background-color: #263839;
	margin: 0 auto;

}

.title {
	font-family: Pacifico;
	color: white;
	font-size: 20px;
	line-height: 20px;
	display:block;
	margin: 0 auto;
	justify-content: flex-start;

}

.navigation {
	background-color: #263839;
	margin: 0 auto;
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
	list-style:none;
	margin-bottom: 20px;
}

a {
	color:white;
	text-decoration: none;
	font-family: "HelveticaNeue-Light";
	letter-spacing: 4px;
	padding: 20px;
	font-size:12px;
	display:block;
}

a:hover {
	background: #3D484F;
	color:yellow;

}

.content{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.project {
	background-color: yellow;
	height: 200px;
	width:40%;
	margin:20px;
}

#image-1 {
	background-image: url(images/mr-onion.jpg);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	max-width: 100%;
}

#image-1:hover {
	background-size:110%;
    transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
}

#image-2 {
	background-image: url(images/parsley-6.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	max-width: 100%;
}

#image-3 {
	background-image: url(images/5422460654_2cdd17a149_b.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	max-width: 100%;
}

#image-4 {
	background-image: url(images/400full-the-herbs-screenshot.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	max-width: 100%;
}

@media (max-width: 800px) {
	.navigation {
		justify-content: center;
	}


@media (max-width: 500px) {
	.navigation {
		flex-flow: column wrap;
		margin-bottom: 0px;
	}

	li {
		text-align:center;
	}
	
	a {
		padding-left: 0px;
	}

	.content {
		flex-direction: column;
	}


	.project {
		margin:0;
		width:100%;
	}
}